<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>leftMenus</title>
</head>
<body>
    <div th:fragment="leftmenus">
        <table class="table table-bordered table-striped" id="mytable">
            <thead>
            <tr>
                <th>姓名</th>
                <th>电话</th>
                <th>邮箱</th>
                <th>密码</th>
            </tr>
            </thead>

            <tbody>
            <tr>
                <td style="display: none" th:text="1">23</td>
                <td>张三</td>
                <td>25</td>
                <td>zs@163.com</td>
                <td>zs@163.com</td>
            </tr>
            <tr>
                <td style="display: none" th:text="1">23</td>
                <td>张三</td>
                <td>25</td>
                <td>zs@163.com</td>
                <td>zs@163.com</td>
            </tr>
            </tbody>
        </table>

        <div class="btns">
            <button th:onclick="page1()" onclick="page1()" style="display: inline-block; width:100px;height: 25px;margin: 10px 20px">页面一</button>
            <button th:onclick="page2()"  onclick="page2()" style="display: inline-block; width:100px;height: 25px;margin: 10px 20px">页面二</button>
            <button onclick="page3()" style="display: inline-block; width:100px;height: 25px;margin: 10px 20px">页面三</button>
            <button onclick="page4()" style="display: inline-block; width:100px;height: 25px;margin: 10px 20px">页面四</button>
        </div>
    </div>

</body>
</html>