<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>middle</title>
</head>
<body>
    <div th:fragment="middle">
        <h3>中间页面</h3>
        <h2>3245e65ydgfxchwaezvfgil867thrzfdxhukgil7tr67564erwsdv ccbfyd</h2>
        <h3>中间页面</h3>
        <h2>3245e65ydgfxchwaezvfgil867thrzfdxhukgil7tr67564erwsdv ccbfyd</h2>
        <h3>中间页面</h3>
        <h2>3245e65ydgfxchwaezvfgil867thrzfdxhukgil7tr67564erwsdv ccbfyd</h2>
        <h3>中间页面</h3>
        <h2>3245e65ydgfxchwaezvfgil867thrzfdxhukgil7tr67564erwsdv ccbfyd</h2>
    </div>
</body>
</html>